{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ partial "breadcrumb.html" . }}
{{ range .Pages.ByPublishDate.Reverse }}
<p>
    <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    <a class="summary" href="{{ .RelPermalink }}">
        <p>{{ .Summary }}</p>
    </a>
</p>
{{ end }}

<!-- show a link to the project page if it exists -->
<!-- {{ $project := .Params.project  }}
<p>Checkout the full <a href="/projects/{{ lower $project }}">{{ humanize $project }}</a>  project</p> -->

{{ end }}

