{{ define "main" }}
<!-- <h1>{{ .Title }}</h1> -->
{{ partial "breadcrumb.html" . }}
{{ .Content }}
{{ $related := site.RegularPages.RelatedIndices . "project" "date" }}
{{ $project := .Params.project  }}

<!-- Show related pages listed with the same project -->
{{ with $related }}
<h3>More <a href="/projects/{{ lower $project }}">{{ humanize $project }}</a></h3>
<ul>
	{{ range . }}
	{{ if ne (lower .Title) $project }}<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>{{ end }}
    {{ end }}
</ul>
{{ end }}
{{ end }}
